{% extends "layout.html" %}
{% block content %}


    <h1>FlowApp recomienda:</h1>


<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert-message alert-message-success">
                <h4>
                    Importancia del Agua</h4>
                <p>
                    El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta 
                    <a href="https://www.swimtonictech.com/es/2018/03/22/la-importancia-del-agua-la-vida/">
                            Ver más!</a></p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="alert-message alert-message-danger">
                <h4>
                    Lee esto por favor</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. For performance
                    reasons, the Tooltip and Popover data-apis are opt-in, meaning <strong>strong message</strong>.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert-message alert-message-warning">
                <h4>
                        Lee esto por favor</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s.<strong> strong
                        message</strong>.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="alert-message alert-message-info">
                <h4>
                        Lee esto por favor</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. For performance
                    reasons, the Tooltip and Popover data-apis are opt-in, meaning <strong>strong message</strong>.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert-message alert-message-default">
                <h4>
                        Lee esto por favor</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s.<strong> strong
                        message</strong>.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="alert-message alert-message-notice">
                <h4>
                        Lee esto por favor</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s.<strong> strong
                        message</strong>.</p>
            </div>
        </div>
    </div>
</div>
        
          
        <!-- <script  src="./static/js/carrusel.js"></script> -->
            
        
   
{% endblock content %}
